<!DOCTYPE html>
<html>

  <head>
    

    {% block head %}
        <title>Gym Manager</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}


    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    
    <header>
      <div class="links">
        <a href="/" class ="active">Instructors</a>
        <a href="/members">Members</a>
      </div>

    </header>

    {% block content%} {% endblock %}

  </body>

</html>