<script>
  const formDelete = document.querySelector("#form-delete");
  formDelete.addEventListener("submit", function(event){
    const confirmation = confirm("Deseja excluir? Essa ação não pode ser desfeita.");
    if(!confirmation) {
      event.preventDefault();
    }
  })
</script>